body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.body-coint {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.header {
    align-self: center;
}
.middle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.container {
    width: 512px;
    height: 512px;
    background-color: red;
    border: 2px solid;
    border-color: black;
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
    margin-right: 200px;
}

li {
    padding: 10px 0;
}

button {
    width: 5em;
    /* todo */
}


.footer {
    align-self: center;
}

.white {
    background-color: white;
    width: 16px;
    height: 16px;
}